body {
    background-image: url("../img/Fiat-Uno-Wallpaper.jpg"), url("../img/retro-tapete.jpg");
    /*     background-position: center; */
    background-repeat: no-repeat, repeat;
    background-color: turquoise;
}

.navbar-brand {
    font-family: 'Monoton';
    font-size: 2em;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 0 0 30px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    color: white;
}
.navbar-text {
    font-family: 'Lobster';
    font-size: 2em;
    text-align: center;
    /* text-transform: uppercase; */
    text-shadow: 0 0 30px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    color: white;
}


#board {
    margin: 30px;
}

#playerNamesForm {
    /*       font-family: 'Tomorrow', sans-serif;
 */
/*  font-family: 'Monoton', cursive;
 */
    /*     font: 50px/50px 'Lobster', cursive;
 */
    /*     font-family: 'Pacifico', cursive; */
    /*     font: 30px/30px 'Satisfy', cursive;
 */
 text-shadow: 0 0 30px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
}

#playerNamesForm div div div{
/*     font-family: 'Lobster', cursive;
 */    background-color:black;
    color: white;
}

#ablage {
    background-color: goldenrod;
    border-radius: 30px;
    
}

#stapel {
    background-color: goldenrod;
    border-radius: 30px;
    
}

.card {
    background-color: lightgreen;
    border-radius: 30px;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;    
}

#colorPicker div div{
    font-family: 'Tomorrow''Leckerli One', cursive;
    color: white;
   background-color: black ;
   text-shadow: 0 0 .1vw #F3BCBC, 0 0 .5vw #F12F21, 0 0 1.5vw #f00;

 }

.retroText {
    /*     font: 30px/30px 'Satisfy', cursive;
 */
    /*         font-family: 'Leckerli One', cursive;

 */
    /* font-family: 'Pacifico', cursive; */
    /*     text-shadow: 0 0 .1vw #F3BCBC, 0 0 .5vw #F12F21, 0 0 1.5vw #f00;
 */
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.retroTitle {
    font-family: 'Monoton';
    text-align: center;
    text-transform: uppercase;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.fadeIn{
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
      }
    10%,
    30%,
    50%, 
    70% {
        opacity: 0.5;
      }
    20%,
    40%,
    60%,
    80%,
    100% {
        opacity: 1;
      }
}

.blink-bg {
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 30px;
    /* border-width: 6px;
    border-color:gold */
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0% {
        background-color: #10c018;
    }
    25% {
        background-color: #1056c0;
    }
    50% {
        background-color: #ef0a1a;
    }
    75% {
        background-color: #254878;
    }
    100% {
        background-color: yellowgreen;
    }
}



@keyframes blink {
    50% {
        background-color: green;
        border-radius: 30px;
        border-width: 6px;
        border-style: solid;
        border-color: green;
        margin-right: 30px;
        margin-left: 30px;
        }
}

.deck-active {
    /*or other element you want*/
    border-radius: 30px;
    border-width: 6px;
    border-style: solid;
    margin-right: 30px;
    margin-left: 30px;
    animation-name: blink;
    animation-duration: .5s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}


.deck-inactive {
    background-color: lightgrey;
    border-color: lightgrey;
    border-radius: 30px;
    border-width: 6px;
    /* border-style: solid;       
    border-color: yellow;
    border-right-color: orange;
    border-bottom-color: orange;*/
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-left: 30px;    
}

#activeCard{
    /* position: absolute; */
    z-index: +1;    
}

#drawImg{
    opacity: 0.8;       
}

#drawImg:active{   
    opacity: 1; 
    transform: scale(1.05);    
    transition-timing-function: ease;   
    animation: rotation 0.5s infinite linear;   
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

#drawImg:hover{
    opacity: 1;        
}

p.deck img { 
    position:relative; 
    margin-top: -50px; 
    top: 45px  }

/* p.deck img:first-child {
    top: 40px; 
}  */
